# 数据清洗，上传到MySQL

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import MySQLConfig

db = MySQLConfig()
engine_str = f"mysql+pymysql://{db.user}:{db.password}@{db.host}:{db.port}/{db.database}?charset={db.charset}"
engine = create_engine(engine_str)
print("MySQL连接成功")

MySQL连接成功

## customer.csv

In [2]:
file_path = "./data/customer.csv"
df = pd.read_csv(file_path)

print("数据概览：")
display(df.head())
print("\n数据类型信息：")
print(df.info())

数据概览：

,客户账号,运单数,业务量,体积,计费重量,重泡标识,主要始发站,主要终点站,开始城市,终点城市,服务类型,结算方式,收益站,收益,近期合作月份_time,近期合作日期_time,创收站,流失情况
0,1,344.0,6880.0,27.52,6880.0,重货,上海站,长沙站,上海,长沙,标快服务,月结,上海大客户站,3199.2,2015-10-01,2015-10-15,上海站,未流失
1,2,420.0,8400.0,33.60,8400.0,重货,上海站,郑州站,上海,郑州,标快服务,月结,上海大客户站,3738.0,2015-10-01,2015-10-09,上海站,未流失
2,3,65.0,1300.0,5.20,1300.0,重货,上海站,长沙站,上海,长沙,标快服务,月结,上海大客户站,604.5,2015-10-01,2015-10-12,上海站,未流失
3,4,489.0,9780.0,39.12,9780.0,重货,上海站,南京站,上海,南京,标快服务,月结,上海大客户站,2934.0,2015-10-01,2015-10-09,上海站,未流失
4,5,107.0,2140.0,8.56,2140.0,重货,上海站,唐山站,上海,唐山,标快服务,月结,上海大客户站,1177.0,2015-10-01,2015-11-03,上海大客户站,未流失

数据类型信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41138 entries, 0 to 41137
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   客户账号         41138 non-null  int64
 1   运单数          41126 non-null  float64
 2   业务量          41123 non-null  float64
 3   体积           41125 non-null  float64
 4   计费重量         41138 non-null  float64
 5   重泡标识         41138 non-null  object
 6   主要始发站        41138 non-null  object
 7   主要终点站        41138 non-null  object
 8   开始城市         41117 non-null  object
 9   终点城市         41128 non-null  object
 10  服务类型         41138 non-null  object
 11  结算方式         41138 non-null  object
 12  收益站          41138 non-null  object
 13  收益           41138 non-null  float64
 14  近期合作月份_time  41138 non-null  object
 15  近期合作日期_time  41138 non-null  object
 16  创收站          41138 non-null  object
 17  流失情况         41138 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 5.6+ MB
None

In [3]:
# 日期类型转换
df["近期合作月份_time"] = pd.to_datetime(df["近期合作月份_time"], errors="coerce")
df["近期合作日期_time"] = pd.to_datetime(df["近期合作日期_time"], errors="coerce")
# 数值字段转 float
num_cols = ["运单数", "业务量", "体积", "计费重量", "收益"]
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")
print("缺失值统计：")
display(df.isna().sum())
print("数据概览：")
display(df.head())
print("\n数据类型信息：")
print(df.info())

缺失值统计：

客户账号            0
运单数            12
业务量            15
体积             13
计费重量            0
重泡标识            0
主要始发站           0
主要终点站           0
开始城市           21
终点城市           10
服务类型            0
结算方式            0
收益站             0
收益              0
近期合作月份_time     0
近期合作日期_time     0
创收站             0
流失情况            0
dtype: int64

数据概览：

,客户账号,运单数,业务量,体积,计费重量,重泡标识,主要始发站,主要终点站,开始城市,终点城市,服务类型,结算方式,收益站,收益,近期合作月份_time,近期合作日期_time,创收站,流失情况
0,1,344.0,6880.0,27.52,6880.0,重货,上海站,长沙站,上海,长沙,标快服务,月结,上海大客户站,3199.2,2015-10-01,2015-10-15,上海站,未流失
1,2,420.0,8400.0,33.60,8400.0,重货,上海站,郑州站,上海,郑州,标快服务,月结,上海大客户站,3738.0,2015-10-01,2015-10-09,上海站,未流失
2,3,65.0,1300.0,5.20,1300.0,重货,上海站,长沙站,上海,长沙,标快服务,月结,上海大客户站,604.5,2015-10-01,2015-10-12,上海站,未流失
3,4,489.0,9780.0,39.12,9780.0,重货,上海站,南京站,上海,南京,标快服务,月结,上海大客户站,2934.0,2015-10-01,2015-10-09,上海站,未流失
4,5,107.0,2140.0,8.56,2140.0,重货,上海站,唐山站,上海,唐山,标快服务,月结,上海大客户站,1177.0,2015-10-01,2015-11-03,上海大客户站,未流失

数据类型信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41138 entries, 0 to 41137
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   客户账号         41138 non-null  int64
 1   运单数          41126 non-null  float64
 2   业务量          41123 non-null  float64
 3   体积           41125 non-null  float64
 4   计费重量         41138 non-null  float64
 5   重泡标识         41138 non-null  object
 6   主要始发站        41138 non-null  object
 7   主要终点站        41138 non-null  object
 8   开始城市         41117 non-null  object
 9   终点城市         41128 non-null  object
 10  服务类型         41138 non-null  object
 11  结算方式         41138 non-null  object
 12  收益站          41138 non-null  object
 13  收益           41138 non-null  float64
 14  近期合作月份_time  41138 non-null  datetime64[ns]
 15  近期合作日期_time  41138 non-null  datetime64[ns]
 16  创收站          41138 non-null  object
 17  流失情况         41138 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 5.6+ MB
None

In [4]:
df.to_sql(
    name="customer",
    con=engine,
    if_exists="replace",
    index=False,
    chunksize=1000
)

print(f"已成功上传 {len(df)} 条数据至表 customer_info")

已成功上传 41138 条数据至表 customer_info

In [5]:
sql = """SELECT COUNT(*)FROM DeliverInsight.customer"""
with engine.connect() as conn:
    result = pd.read_sql(sql, conn)
display(result)

   COUNT(*)
0     41138

## order.csv

In [6]:
file_path = "./data/order.csv"
df = pd.read_csv(file_path)

print("数据概览：")
display(df.head())
print("\n数据类型信息：")
print(df.info())

数据概览：

,运单号,件数,毛重,体积,计费重量,重泡标识,始发站,目的站,始发城市,目的城市,...,录入站点,f22,superiorinstitution,optype,superiorarea,lat,lng,录入时间_time,录入日期_time,签字日期_time
0,6135103344,1,180.0,0.50,180.0,重货,苏州站,南京站,苏州,苏州工业园区,...,新区站,NaN,苏州分公司,操作站点,华中区,31.2994,120.620,27/4/2015 09:41:00,24/4/2019 15:24:40,2015/4/28 22:00
1,6133126822,2,33.0,0.10,33.0,重货,北京站,济南站,北京,顺义区、天竺镇,...,北京站,NaN,北京分公司,操作站点,华北区,39.9050,116.405,26/4/2015 13:02:00,24/4/2019 15:24:40,2015/5/1 0:00
2,6130083876,11,416.0,2.93,732.5,泡货,广州站,重庆站,广州,白云区,...,广州站,NaN,广州分公司,操作站点,华南区,23.1252,113.281,13/1/2021 18:27:03,24/4/2019 15:24:40,2015/4/10 22:00
3,6135732161,1,5000.0,1.00,5000.0,重货,惠州站,惠州站,惠州,惠阳城区,...,惠州站,NaN,深圳分公司,操作站点,华南区,23.0794,114.413,18/4/2015 10:30:00,24/4/2019 15:24:40,2015/5/15 0:00
4,6133810421,1,29.9,0.17,42.5,泡货,上海站,西安站,上海,宝山区,...,上海站,NaN,上海分公司,操作站点,华中区,31.2317,121.473,29/4/2015 17:01:00,24/4/2019 15:24:40,2015/5/5 22:00

数据类型信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110500 entries, 0 to 110499
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   运单号                  110500 non-null  int64
 1   件数                   110500 non-null  int64
 2   毛重                   110500 non-null  float64
 3   体积                   110500 non-null  float64
 4   计费重量                 110500 non-null  float64
 5   重泡标识                 110500 non-null  object
 6   始发站                  110500 non-null  object
 7   目的站                  110500 non-null  object
 8   始发城市                 110500 non-null  object
 9   目的城市                 110459 non-null  object
 10  运输类型                 110500 non-null  object
 11  运单类型                 110500 non-null  object
 12  结算方式                 110500 non-null  object
 13  客户账号                 110500 non-null  object
 14  客户名称                 110500 non-null  object
 15  收入站                  110500 non-null  object
 16  收入金额                 110500 non-null  float64
 17  收入月份_time            110500 non-null  object
 18  录入站点                 110500 non-null  object
 19  f22                  81 non-null      float64
 20  superiorinstitution  110500 non-null  object
 21  optype               110500 non-null  object
 22  superiorarea         110500 non-null  object
 23  lat                  110500 non-null  float64
 24  lng                  110500 non-null  float64
 25  录入时间_time            110500 non-null  object
 26  录入日期_time            110500 non-null  object
 27  签字日期_time            110500 non-null  object
dtypes: float64(7), int64(2), object(19)
memory usage: 23.6+ MB
None

In [7]:

# 转换日期字段
date_cols = ["收入月份_time", "录入时间_time", "录入日期_time", "签字日期_time"]
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

# 数值字段
num_cols = ["件数", "毛重", "体积", "计费重量", "收入金额", "lat", "lng"]
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")

print("缺失值统计：")
display(df.isna().sum())

print("清洗后数据概览：")
display(df.head())
print("\n数据类型信息：")
print(df.info())

C:\Users\Binfinity\AppData\Local\Temp\ipykernel_13048\1117583714.py:4: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors="coerce")

缺失值统计：

C:\Users\Binfinity\AppData\Local\Temp\ipykernel_13048\1117583714.py:4: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors="coerce")

运单号                         0
件数                          0
毛重                          0
体积                          0
计费重量                        0
重泡标识                        0
始发站                         0
目的站                         0
始发城市                        0
目的城市                       41
运输类型                        0
运单类型                        0
结算方式                        0
客户账号                        0
客户名称                        0
收入站                         0
收入金额                        0
收入月份_time                   0
录入站点                        0
f22                    110419
superiorinstitution         0
optype                      0
superiorarea                0
lat                         0
lng                         0
录入时间_time                   0
录入日期_time                   0
签字日期_time                   0
dtype: int64

清洗后数据概览：

,运单号,件数,毛重,体积,计费重量,重泡标识,始发站,目的站,始发城市,目的城市,...,录入站点,f22,superiorinstitution,optype,superiorarea,lat,lng,录入时间_time,录入日期_time,签字日期_time
0,6135103344,1,180.0,0.50,180.0,重货,苏州站,南京站,苏州,苏州工业园区,...,新区站,NaN,苏州分公司,操作站点,华中区,31.2994,120.620,2015-04-27 09:41:00,2019-04-24 15:24:40,2015-04-28 22:00:00
1,6133126822,2,33.0,0.10,33.0,重货,北京站,济南站,北京,顺义区、天竺镇,...,北京站,NaN,北京分公司,操作站点,华北区,39.9050,116.405,2015-04-26 13:02:00,2019-04-24 15:24:40,2015-05-01 00:00:00
2,6130083876,11,416.0,2.93,732.5,泡货,广州站,重庆站,广州,白云区,...,广州站,NaN,广州分公司,操作站点,华南区,23.1252,113.281,2021-01-13 18:27:03,2019-04-24 15:24:40,2015-04-10 22:00:00
3,6135732161,1,5000.0,1.00,5000.0,重货,惠州站,惠州站,惠州,惠阳城区,...,惠州站,NaN,深圳分公司,操作站点,华南区,23.0794,114.413,2015-04-18 10:30:00,2019-04-24 15:24:40,2015-05-15 00:00:00
4,6133810421,1,29.9,0.17,42.5,泡货,上海站,西安站,上海,宝山区,...,上海站,NaN,上海分公司,操作站点,华中区,31.2317,121.473,2015-04-29 17:01:00,2019-04-24 15:24:40,2015-05-05 22:00:00

数据类型信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110500 entries, 0 to 110499
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   运单号                  110500 non-null  int64
 1   件数                   110500 non-null  int64
 2   毛重                   110500 non-null  float64
 3   体积                   110500 non-null  float64
 4   计费重量                 110500 non-null  float64
 5   重泡标识                 110500 non-null  object
 6   始发站                  110500 non-null  object
 7   目的站                  110500 non-null  object
 8   始发城市                 110500 non-null  object
 9   目的城市                 110459 non-null  object
 10  运输类型                 110500 non-null  object
 11  运单类型                 110500 non-null  object
 12  结算方式                 110500 non-null  object
 13  客户账号                 110500 non-null  object
 14  客户名称                 110500 non-null  object
 15  收入站                  110500 non-null  object
 16  收入金额                 110500 non-null  float64
 17  收入月份_time            110500 non-null  datetime64[ns]
 18  录入站点                 110500 non-null  object
 19  f22                  81 non-null      float64
 20  superiorinstitution  110500 non-null  object
 21  optype               110500 non-null  object
 22  superiorarea         110500 non-null  object
 23  lat                  110500 non-null  float64
 24  lng                  110500 non-null  float64
 25  录入时间_time            110500 non-null  datetime64[ns]
 26  录入日期_time            110500 non-null  datetime64[ns]
 27  签字日期_time            110500 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(7), int64(2), object(15)
memory usage: 23.6+ MB
None

In [9]:
table_name = "order"
try:
    with engine.begin() as conn:
        df.to_sql(
            name=table_name,
            con=conn,
            if_exists="replace",  # 首次上传用 replace，之后改 append
            index=False,
            chunksize=1000
        )
    print(f"已成功上传 {len(df)} 条数据至表 `order`")
except Exception as e:
    print("上传失败：", e)

try:
    sql = f"SELECT COUNT(*) AS total_rows FROM `order`"
    with engine.connect() as conn:
        result = pd.read_sql(sql, conn)
    print("数据库中记录数：")
    display(result)
except Exception as e:
    print("查询失败：", e)

✅ 已成功上传 110500 条数据至表 `order`
数据库中记录数：

   total_rows
0      110500