In [6]:
from config import MySQLConfig
import pymysql
import pandas as pd

def test_connection():
    config = MySQLConfig()
    try:
        conn = pymysql.connect(
            host=config.host,
            port=config.port,
            user=config.user,
            password=config.password,
            database=config.database,
            charset=config.charset
        )
        print("✅ 数据库连接成功！")

        cursor = conn.cursor()
        cursor.execute("SHOW TABLES;")
        databases = cursor.fetchall()

        # 转成DataFrame显示
        df = pd.DataFrame(databases, columns=["Database"])
        display(df)

        cursor.close()
        conn.close()

    except Exception as e:
        print("❌ 数据库连接失败:", e)

if __name__ == "__main__":
    test_connection()

✅ 数据库连接成功！

             Database
0       xxl_job_group
1        xxl_job_info
2        xxl_job_lock
3         xxl_job_log
4  xxl_job_log_report
5     xxl_job_logglue
6    xxl_job_registry
7        xxl_job_user